<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticketdatamaster invitation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #F3F2F8;">
    <div style="background-color: white;padding: 30px;max-width: 600px;margin:auto">
        <div style="text-align: center;">
            <img src="https://ticketdatamaster.com/assets/images/logo_black.png" alt="" style="width: 200px;">
        </div>
        <div style="margin-top: 50px;">
            <p style="margin-bottom: 50px;">Welcome to ticketdatamaster.com. You've invited to ticketdatamaster.com. You can now login with following credenticals</p>
            <p>Email: <%=data.email%></p>
            <p>Password: <%=data.password%></p>
            <p>You can change your password after login.</p>
            <p>Click <a href="<%=data.siteURL%>">here</a> to login now.</p>
        </div>
    </div>
</body>

</html>